.contact-sec{
    width: 100%;
    min-height: 600px;
    padding: 60px 80px;
    position: relative;
}

.contact-head{
    font-size: 68px;
    color: #221E15;
    font-family: var(--customfont);
}

.contact-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}